<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-md-2">

      <% if @item.errors.any? %>
      <%= @item.errors.count %>エラーが発生しました:
      <% @item.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>

     <div><h4>商品編集</h4></div></br >
    </div>
   </div>

   <div class="col-log-6">
    <table style="border:none">
     <thead>

      <tr>
   　　 <%= form_with model:@item, url:"/items/#{@item.id}", local:true do |f| %>
       <th><h6>商品画像</h6></th>
     　<th><%= f.attachment_field :image, class:"form-control-file image", placeholder:"商品画像" %></th>
     　</tr>

     　 <tr>
       <th><h6>商品名</h6></th>
       <th><%= f.text_field :name, class:"form-control item_name" %></th>
       </tr>

       <tr>
       <th><h6>商品名</h6></th>
       <th><%= f.text_field :introduction, class:"form-control item_introduction" %></th>
       </tr>

       <tr>
       <th><h6>ジャンル</h6></th>
       <th><%= f.collection_select :genre_id, @genres, :id, :name, { include_blank: '-選択してください-' }, { class: 'form-control' , required: true } %></th>
       </tr>

       <tr>
       <th><h6>税込価格</h6></th>
       <th><%= f.text_field :price, class:"form-control item_price" %></th>
       </tr>

       <tr>
       <th><h6>販売ステータス</h6></th>
       <th><%= f.select :is_active, {'販売中': 1, '販売停止中': 2}, { include_blank: '-選択してください-' }, { class: 'form-control' , required: true } %></th>
       </tr>

     </thead>
    </table>
   </div>

   <div class="row" >
    <div class="col-md-12", class="text-center" >
   　<br><%= f.submit '変更を保存', class:"btn btn-sm btn-primary" %>
    </div>
   </div>

    <% end %>

  </div>
</main>