<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-lg-2">

     <div><h4>商品一覧</h4></div></br >
    </div>
   </div>

   <div class="row">
    <div class="col-lg-10">
     <tr><%= link_to "追加", new_admin_item_path, class:"navbar-brand" %></tr><br>
    </div>
   </div>

   <div class="row">
     <div class="col-lg-10">
       <table class="table">
         <thead>
           <tr>
             <th>商品ID</th>
             <th>商品名</th>
             <th>税抜価格</th>
             <th>ジャンル</th>
             <th>ステータス</th>
           </tr>
         </thead>
         <tbody>
          <% @items.each do |item| %>
           <tr>
             <td width="100">
               <%= item.id %>
             </td>
             <td width="220">
               <%= link_to admin_item_path(item.id) do %><%= item.name %><% end %>
             </td>
             <td width="120">
               <%= item.price %>
             </td>
             <td width="150">
               <%= item.genre.name %>
             </td>
             <td width="130">
              <% if item.is_active %>
               販売中
              <% else %>
               販売停止中
              <% end %>
             </td>
           </tr>
         </tbody>
         <% end %>
       </table>
      </div>
     </div>

   <div class="row" >
     <div class="col-lg-7">
      <div class="pagination">
       <p style='margin: 10px'>1</p>
       <p style='margin: 10px'>2</p>
       <p style='margin: 10px'>3</p>
       <p style='margin: 10px'>Next></p>
       <p style='margin: 10px'>Last>></p>
      </div>
     </div>
    </div>

  </div>
</main>