<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4 px-5 px-sm-10">

      <div><h4>新規登録</h4></div>
    </div>
   </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "admins/shared/error_messages", resource: resource %>

      <div class="row">
       <div class="col-sm-12 col-md-8 col-lg-10 px-5 px-sm-0">
         <table style="border:none;" width="500">
          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          </tr>

          <tr>
            <th><%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
            </th>
            <% end %><br />
            <th><%= f.password_field :password, autocomplete: "new-password" %></th>
          </tr>

          <tr>
            <th><%= f.label :password_confirmation, "確認用再入力" %></th>
            <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
          </tr>

          <tr>
            <th></th>
            <th><%= f.submit "新規登録", class: 'btn btn-sm btn-primary' %></th>
          </tr>

      <% end %>

      <%= render "admins/shared/links" %>
 </div>
</main>
