<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-md-2">

     <div><h4>会員一覧</h4></div></br >
    </div>
   </div>

   <div class="row">
     <div class="col-md-8">

       <table class="table">
         <thead class="thead-light">
             <th>会員ID</th>
             <th>氏名</th>
             <th>メールアドレス</th>
             <th>会員ステータス</th>
         </thead>
         <% @customers.each do |customer| %>
         <tbody>
           <tr>
             <td><%= customer.id %></td>
             <td><%= link_to admin_customer_path(customer.id) do %><%= customer.last_name %><span class="mx-2"><%= customer.first_name %></span><% end %></td>
             <td><%= customer.email %></td>
             <td>
              <% if customer.is_active %>
               退会
              <% else %>
               有効
              <% end %>
             </td>
           </tr>
         </tbody>
         <% end %>
       </table>
     </div>
   </div>

  </div>
</main>