<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-4">

     <div><h4><%= @customer.last_name %>さんの会員詳細</h4></div></br >
    </div>
   </div>

   <div class="row">
    <div class="col-6">

    <table style="border:none;">
     <tr>
      <th width="180">会員ID</th>
      <td><%= @customer.id %></td>
     </tr>

     <tr>
      <th>氏名</th>
      <td><span><%= @customer.last_name %></span><span class="mx-2"><%= @customer.first_name %></span></td>
     </tr>

     <tr>
      <th>フリガナ</th>
      <td><%= @customer.last_name_kana %><span class="mx-2"><%= @customer.first_name_kana %></span></td>
     </tr>

     <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
     </tr>

     <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
     </tr>

     <tr>
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
     </tr>

     <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
     </tr>

     <tr>
      <th>会員ステータス</th>
      <td><%= @customer.is_active %></td>
     </tr>
    </table>
   </div>
  </div>

   <div class="row">
    <div class="col-8 my-4">
     <%=link_to "編集する", edit_admin_customer_path(@customer.id),class: 'btn btn-sm btn-primary'%>
     <span class="mx-5"><%=link_to "注文一覧を見る", edit_admin_customer_path(@customer.id),class: 'btn btn-sm btn-primary'%></span>
    </div>
   </div>




  </div>
 </main>
