<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-md-2">

     <div><h4>注文履歴詳細</h4></div></br >
    </div>
   </div>

   <div class="row">
    <div class="col-6">
     <table style="border:none">
      <thead>
        <tr>
          <th>購入者</th>
          <td>A</td>
        </tr>
        <tr>
          <th>注文日</th>
          <td>10月</td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td>銀行振込</td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>神奈川</td>
        </tr>
        <tr>
          <th>製作ステータス</th>
          <td>
           <%= form_with model:@order, locale: true do |f| %>
           <%= f.label :status, :入金待ち %>
           <%= f.radio_button :status, 0 %>

           <%= f.label :status, :入金確認 %>
           <%= f.radio_button :status, 1 %>

           <%= f.label :status, :製作中 %>
           <%= f.radio_button :status, 2 %>

           <%= f.label :status, :発送準備中 %>
           <%= f.radio_button :status, 3 %>

           <%= f.label :status, :発送済み %>
           <%= f.radio_button :status, 4 %>

           <% end %>

          </td>
          <td>更新</td>
        </tr>
      </thead>
     </table>
   <br>

   <div class="row">
    <div class="col-6">
     <table class="table">
      <thead class="thead-light">
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </thead>

      <tbody>
     </table>
    </div>

    <div class="col-10">
     <table style="border:none">
       <thead>
         <tr>
           <th><strong>商品合計</strong></th>
           <td>円</td>
         </tr>
         <tr>
           <th><strong>送料</strong></th>
           <td>円</td>
         </tr>
         <tr>
           <th><strong>請求金額合計</strong></th>
           <td>円</td>
         </tr>
       </thead>
     </table>
    </div>


 </div>
</main>
