<br>
<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
      <div class="col-md-4">
        <div><h4>配送先編集</h4></div>

  <% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <% @address.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <% end %>

      </div>
   </div>

   <%= form_with model:@address, url:address_path, local:true do |f| %>
   <table style="border:none;",>
     <tr>
       <th>郵便番号(ハイフンなし)</th>
       <th><%= f.text_field :postal_code %></th>
     </tr>

     <tr>
       <th>住所</th>
       <th><%= f.text_field :address %></th>
     </tr>

     <tr>
       <th>宛名</th>
       <th><%= f.text_field :name %></th>
     </tr>

     <tr>
       <th></th>
       <th><%= f.submit '変更内容を保存', url:addresses_path, class: "btn btn-sm btn-primary" %></th>
     </tr>
   </table>
   <% end %>

  </div>
</main>