<br>
<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
      <div class="col-md-4">
        <div><h4>配送先登録/一覧</h4></div>

  <% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <% @address.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <% end %>

      </div>
   </div>

   <%= form_with model:@address, url:addresses_path, local:true do |f| %>
   <table style="border:none;" width="500">
     <tr>
      <th>郵便番号(ハイフンなし)</th>
      <th><%= f.text_field :postal_code %></th>
     </tr>

     <tr>
       <th>住所</th>
       <th><%= f.text_field :address %></th>
     </tr>

     <tr>
       <th>宛名</th>
       <th><%= f.text_field :name %></th>
     </tr>
　　 <br>
     <tr>
       <th></th>
       <th><%= f.submit "新規登録", class: "btn btn-sm btn-primary" %></th>
     </tr>
   </table>
   <% end %>
   <br>


   <table border="1">
     <thead>
      <tr>
         <th>郵便番号</th>
         <th>住所</th>
         <th>宛名</th>
         <th></th>
      </tr>
     </thead>
      <% @addresses.each do |address| %>
      <tbody>
       <tr>
           <td><%= address.postal_code %></td>
           <td><%= address.address %></td>
           <td><%= address.name %></td>
           <td>
             <div class="mx-3 my-2"><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-sm btn-primary"%>
             <%= link_to "削除する", address_path(address.id), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-sm btn-primary" %></div>
           </td>
       </tr>
      <% end %>
      </tbody>
   </table>

  </div>
</main>