<br>
<main>
  <div class="container", align="center">
   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-3">

      <div><h4>ログイン</h4></div><br />
    </div>
   </div>

    <div class="row">
     <div class="col-lg-6">
       <div><h5>会員の方はこちらからログイン</h5></div>
     </div>
    </div>


       <div class="row">
        <div class="col-lg-8">
          <table style="border:none", width="400" >
           <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
            <thead>
             <tr>
              <div class="field">
               <th><%= f.label :email, "メールアドレス" %></th>
               <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
              </div>
             </tr>

             <tr>
              <div class="field">
               <th><%= f.label :password, "パスワード" %></th>
               <th><%= f.password_field :password, autocomplete: "current-password" %></th>
              </div>
             </tr>

             <tr>
              <div class="actions">
               <th></th>
               <th><br><%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %></th></br >
              </div>
             </tr>
            <% end %>
            </thead>
          </table>
         </div>
        </div>


        <div class="row">
         <div class="col-lg-6">
          <br><div><h5>会員登録がお済みではない方</h5></div>
         </div>
        </div>

        <div class="row">
         <div class="col-lg-8">
           <div><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</div>
         </div>
        </div>

  </div>
</main>