<br>
<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
      <div class="col-4">
        <h4>注文情報確認</h4>
      </div>
   </div>
   <br>

  <table border="1">
     <thead>
       <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
       </tr>
     </thead>

       <% @subtotal = 0 %>
       <% @cart_items.each do |cart_item| %>
       <tbody>
         <tr>
           <th>
            <div class="mx-3">
             <%= cart_item.item.name %>
            </div>
           </th>
           <th>
            <%= cart_item.item.with_tax_price %>円

           </th>
           <th>
            <div class="mx-3">
             <%= cart_item.amount %>
            </div>
           </th>
           <th>
            <%= cart_item.item.with_tax_price * cart_item.amount %>円
            <% @subtotal += cart_item.item.with_tax_price * cart_item.amount %>
           </th>

        <% end %>
       </tbody>
     </thead>
   </table>
   <br>
   <table border="1">
     <tr>
       <th>送料</th>
       <td><%= @order.shipping_cost %></td>
     </tr>

     <tr>
       <th>商品合計</th>
       <td><%= @subtotal %></td>
     </tr>

     <tr>
       <th>請求金額</th>
       <td></td>
     </tr>
   </table>

　 <div class="row">
      <div class="col-4">
        <div class="d-flex">
            <h5 class="mr-3"><strong>支払方法</strong></h5>
            <%= @order.payment_method_i18n %>
    　　</div>
      </div>
   </div>

　 <div class="row">
      <div class="col-4">
         <div class="d-flex">
           <div><h5 class="mr-3"><strong>お届け先</strong></h5></div>
               <div>
               〒<%= @order.postal_code %>
               <%= @order.address %>
               <br>
               <%= @order.name %>
           </div>
         </div>
      </div>
   </div>

   <div class="row text-center">
    <div class="col">
      <%=link_to "注文を確定する", orders_path, method: :post, class: "btn btn-sm btn-primary btn-lg" %>
    </div>
   </div>

 </div>
</main>



