<br>
<main>
  <div class="container px-5 px-sm-0">
    <%= form_with model:@order, url:orders_confirm_path, local:true do |f| %>
   <div class="row">
      <div class="col-4">
        <h4>注文情報入力</h4>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-6">

       <h5><strong>支払方法</strong></h5>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
            <br>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-6">
        <h5><strong>お届け先</strong></h5>
      </div>
   </div>

   <div class="row">
      <div class="col-8">

        <div><strong>ご自身の住所から選択</strong></div>
         <div class="d-flex">
          <div class="ml-2"><%= f.radio_button :select_address, 0 %></div>
        　<div>
        　   〒 <%= @customer.postal_code %>
        　    <%= @customer.address %>
        　   <br>
        　    <%= @customer.last_name %><%= @customer.first_name %>
        　</div>
         </div>

        <div class="mt-3"><strong>登録済住所から選択</strong></div>
         <div class="d-flex">
          <div class="mx-2"><%= f.radio_button :select_address, 1 %></div>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
         </div>

        <div class="mt-3"><strong>新しく登録する</strong></div>
         <div class="d-flex">
             <div class="mx-2"><%= f.radio_button :select_address, 2 %></div>

              <table class="border-none:">
                <tr>
                  <th><h5><small class="text-muted">郵便番号(ハイフンなし)</small></h5></th>
                  <th><%= f.text_field :postal_code %></th>
                </tr>
                <tr>
                  <th><h5><small class="text-muted">住所</small></h5></th>
                  <td><%= f.text_field :address %></td>
                </tr>
                <tr>
                  <th><h5><small class="text-muted">宛名</small></h5></th>
                  <td><%= f.text_field :name %></td>
                </tr>
              </table>
         </div>

      </div>
   </div>

   <div class="row text-center">
    <div class="col">
      <%= f.submit "確認画面へ進む", class: "btn btn-sm btn-primary btn-lg" %>
    </div>
   </div>

      <% end %>

  </div>
</main>