<br>
<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
      <div class="col-4">
        <h4>注文履歴詳細</h4>
      </div>
   </div>
   <br>
   <div class="row">
     <div class="col-4">
       <div class="mb-2"><strong>注文情報</strong></div>
         <table border="1">
           <tr>
             <td>注文日</td>
             <td><div><%= @order.created_at.to_s(:datetime_jp) %></div></td>
           </tr>

           <tr>
             <td>配送先</td>
             <td>
               〒<%= @order.postal_code%><br>
               <%= @order.address%><br>
               <%= @order.name%>
             </td>
           </tr>

           <tr>
             <td>支払方法</td>
             <td><%= @order.payment_method_i18n %></td>
           </tr>

           <tr>
             <td><div class="mr-3">ステータス</div></td>
             <td>
              <% if @order.status %>
               入金待ち
              <% elsif %>
               入金確認
              <% elsif %>
               製作中
              <% elsif %>
               発送準備中
              <% else %>
               発送済み
              <% end %>
             </td>
           </tr>
         </table>
     </div>

     <div class="col-8">
       <div class="mb-2"><strong>請求情報</strong></div>
         <table border="1">

           <tr>
             <td><div class="mr-3">商品合計</div></td>
             <td>
              <%= @order.total_payment %>
             </td>
           </tr>

           <tr>
             <td>配送料</td>
             <td><%= @order.shipping_cost %>円</td>
           </tr>

           <tr>
             <td><div class="mr-4">ご請求額</div></td>
             <td><%= @order.total_payment + @order.shipping_cost %>円</td>
           </tr>

         </table>
     </div>
   </div>

   <div class="row">
     <div class="col-8">
       <div class="mt-4 mb-2"><strong>注文内容</strong></div>
         <table border="1">
           <thead>
             <th>商品名</th>
             <th><div class="mr-3">単価(税込)</div></th>
             <th>個数</th>
             <th>小計</th>
           </thead>

             <% @order.order_details.each do |order_detail| %>
             <tbody>
             <td><%= order_detail.item.name %></td>
             <td><%= order_detail.item.with_tax_price %>円</td>
             <td><div class="mr-3"><%= order_detail.amount %>個</div></td>
             <td><div class="mr-3"><%= order_detail.price %>円</div></td>
             </tbody>
             <% end %>

         </table>
     </div>
   </div>


  </div>
</main>